# The Python Programming Language: Functions

## Defining Functions

In [1]:
# Defining a function
def add_numbers(x, y):
    return x + y

add_numbers(1,2)

3

Python functions can have default values for parameters. However, all optional parameters, with default values, must come at the end of the function declaration.

In [2]:
def multiply_numbers(x, y, z=None):
    if (z==None):
        return x * y
    else:
        return x * y * z

print(multiply_numbers(1, 2))
print(multiply_numbers(1, 2, 3))

2
6

In Python, we can also assign functions to variables:

In [3]:
def subtract_numbers(x, y):
    return x - y

s = subtract_numbers
s(4,2)

2

## Working With Strings

In [4]:
firstName="Chico"
lastName="Rodriguez"

print(firstName + ' ' + lastName) # String concatenation
print(firstName * 3) # Repeat a string
print('Chico' in firstName) # Check if substring is in string

Chico Rodriguez
ChicoChicoChico
True

In [5]:
# Separating substrings according to a separator
firstName = "Chico Miguel Eduardo de la Manteca Rodriguez".split(' ')[0]
lastName = "Chico Miguel Eduardo de la Manteca Rodriguez".split(' ')[-1]
print(firstName)
print(lastName)

Chico
Rodriguez

We can use placeholders in Python strings which can then be populated using the `format` function.

In [6]:
salesRecord = {'price': 3.14, 
               'numItems': 42,
               'person': 'Maria'
              }

salesStatement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(salesStatement.format(salesRecord['person'],
                           salesRecord['numItems'],
                           salesRecord['price'],
                           salesRecord['numItems']*salesRecord['price']))

Maria bought 42 item(s) at a price of 3.14 each for a total of 131.88

## Working with Dictionaries
Dictionaries can be thought of as unordered key:value pairs with the condition that each key is unique.

In [7]:
ourDict = {"Chico Rodriguez": "chico.rodriguez@neolimon.org", "Miguel Cervantes": "m.cervantes@amazingwriters.org"}
ourDict['Chico Rodriguez']

'chico.rodriguez@neolimon.org'

In [8]:
# We can add elements to dictionary using array notation
ourDict["Gabo Marquez"] = "g.marquez@amazingwriters.org"
ourDict['Gabo Marquez']

'g.marquez@amazingwriters.org'

In [9]:
# We can iterate over keys and print out values
for name in ourDict:
    print(ourDict[name])

# We can iterate over values
for email in ourDict.values():
    print(email)
    
# Finally, we can also iterate over values and keys using the items function
for name, email in ourDict.items():
    print(name)
    print(email)

g.marquez@amazingwriters.org
chico.rodriguez@neolimon.org
m.cervantes@amazingwriters.org
g.marquez@amazingwriters.org
chico.rodriguez@neolimon.org
m.cervantes@amazingwriters.org
Gabo Marquez
g.marquez@amazingwriters.org
Chico Rodriguez
chico.rodriguez@neolimon.org
Miguel Cervantes
m.cervantes@amazingwriters.org

## Working with .csv Files

In [10]:
import csv

%precision 2

# Creating a list with dictionary elements for mpg
with open('mpg.csv') as csvFile:
    mpg = list(csv.DictReader(csvFile))
    
# Checking the first two elements of the list
print(mpg[:2])

# Number of elements
len(mpg)

# Looking at keys
mpg[0].keys()

[{'': '1', 'model': 'a4', 'class': 'compact', 'year': '1999', 'fl': 'p', 'trans': 'auto(l5)', 'manufacturer': 'audi', 'hwy': '29', 'cty': '18', 'cyl': '4', 'displ': '1.8', 'drv': 'f'}, {'': '2', 'model': 'a4', 'class': 'compact', 'year': '1999', 'fl': 'p', 'trans': 'manual(m5)', 'manufacturer': 'audi', 'hwy': '29', 'cty': '21', 'cyl': '4', 'displ': '1.8', 'drv': 'f'}]

dict_keys(['', 'model', 'class', 'year', 'fl', 'trans', 'manufacturer', 'hwy', 'cty', 'cyl', 'displ', 'drv'])

Now, suppose that we want to find the average (arithmetic mean) city mpg across all cars in the given dataset.

In [11]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Similarly, we can find the average highway mpg across all cars in the dataset:

In [12]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

Now, suppose that we want to see the average city mpg grouped by the number of cylinders a car has.

In [13]:
# Gathering unique levels for the number of cylinders
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [14]:
CtyMpgByCyl = [] # An empty list to store our results

for c in cylinders:
    sumMpg = 0
    cylTypeCount = 0
    
    # Iterating through each dictionary element, seeking
    # a match for the number of cylinders.
    for d in mpg:
        if d['cyl'] == c:
            sumMpg += float(d['cty'])
            cylTypeCount += 1
            
    # Appending the result for the current cylinder 
    # to the results list
    CtyMpgByCyl.append((c, sumMpg / cylTypeCount))

# Let's look at the results
print(CtyMpgByCyl)

# Sort and display by lowest to highest number of 
# cylinders (the 0th element)
CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('6', 16.21518987341772), ('8', 12.571428571428571), ('5', 20.5), ('4', 21.012345679012345)]

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

Let's say we want to look at average highway mpg according to vechicle class. Just like in the previous example, we iterate over each vehicle class, then iterate over each dictionary.

In [15]:
vehicleClass = set(d['class'] for d in mpg)

HwyMpgByClass = []

for t in vehicleClass:
    sumMpg = 0
    vClassCount = 0
    
    for d in mpg:
        if d['class'] == t:
            sumMpg += float(d['hwy'])
            vClassCount += 1
            
    HwyMpgByClass.append((t, sumMpg / vClassCount))

# This time, we will sort by lowest to  highest 
# average highway mpg (element 1)
HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

## Basics of Dates and Times in Python

One of the most common legacy methods for storing date and time is based on the offset from the epoch, which is January 1, 1970. If interested, read more about it [here](https://en.wikipedia.org/wiki/Unix_time).

In Python, we can get the current time since the epoch using the `time` module.

In [16]:
import datetime as dt
import time as tm

In [17]:
tm.time()

1481263374.53

In [18]:
# This gives us the time stamp in the format:
# (year, month, day, hour, minute, second, microsecond)
dtNow = dt.datetime.fromtimestamp(tm.time())
dtNow

datetime.datetime(2016, 12, 9, 0, 2, 54, 634584)

We can do simple operations on dates using time deltas. For examples, let us create a time delta of 100 days, then we can do subtraction and comparisons with the date time object. This is commonly used in data science, particularly in making sliding windows.

In [19]:
dtNow.year, dtNow.month, dtNow.day, dtNow.hour, dtNow.minute, dtNow.second

(2016, 12, 9, 0, 2, 54)

In [20]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [21]:
today = dt.date.today()

In [22]:
today - delta

datetime.date(2016, 8, 31)

In [23]:
today > today - delta

True

## Objects and map()

### Objects

In Python, we declare classes using the keyword `class`, and anything indented below is within the scope of the class. An interesting thing about Python is that we do not need to declare variables within the object, we just begin using them. However, class variables can be declared, and these are shared across all instances of the object. 

To define a method, we just write it as we would a function. In order to have access to the instance which a method is begin invoked upon, we must include the keyword `self` in the method signature. That is, in order to create variables which are not shared across all instances (class variables),  we must include `self`. Prepending `self.` also works for referring to instance variables set on an object. 

Something very important to keep in mind when programming in Python is that Python does not have access modifiers. 

The following is an example of a `Person` object definition and instance.

In [24]:
class Person:
    department = 'Hand Wavy Mathematics and Physics'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location
        
chico = Person()
chico.set_name("Chico Rodiguez")
chico.set_location("Eivissa")

print("{} is currently in {}.".format(chico.name, chico.location))

Chico Rodiguez is currently in Eivissa.

### map() function

The `map()` function is the basis for functional programming in Python. You can read more about `map()` [here](https://docs.python.org/3/library/functions.html#map).

The documentation is as follows:

---------------------------------

`map(function, iterable, ...)`

Return an iterator that applies function to every item of iterable, yielding the results. If additional iterable arguments are passed, function must take that many arguments and is applied to the items from all iterables in parallel. With multiple iterables, the iterator stops when the shortest iterable is exhausted. For cases where the function inputs are already arranged into argument tuples, see itertools.starmap().

---------------------------------

Here is an example of an application of the `map()` function: suppose we have lists of prices, of the same items, from two different stores and we want to find the minimum that we would have to pay if we bought the more inexpensive item from each store.

In [25]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]

cheapest = map(min, store1, store2)

print(cheapest) # Prints memory location of map object

# Print each value, we iterate over the object
for itemPrice in cheapest:
    print(itemPrice)

<map object at 0x7fa02870a2b0>
9.0
11.0
12.34
2.01